{% extends "base.html" %}

{% block content %}

<div class="container">
    <br>
    <br>
    <h1>이은정 방학숙제</h1>
    <br>
    <br>
<div class="video-container">
    <div class="jetpack-video-wrapper">
        <span class="embed-youtube" style="text-align:center; display: block;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dVo_7GquHl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
    </div>
</div>

</div>


{% endblock  %}
